<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="uvalib-models">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
    <iron-ajax auto url="[[_url]]" handle-as="json" loading="{{loading}}" last-response="{{lastResponse}}"></iron-ajax>
  </template>

  <script>
    /**
     * `uvalib-models`
     * Binds to the UVA Library APIs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UvalibModels extends Polymer.Element {
      static get is() { return 'uvalib-models'; }
      static get properties() {
        return {
          /** URL used to get the content from Library APIs */
          _url: {
            type: String,
            computed: '_makeURL(path)'
          },
          /** The API path used in the request */
          path: {
            type: String,
            value: ""
          },
          /** True while requests are in flight to the API */
          loading: {
            type: Boolean,
            notify: true,
          },
          /** The last response */
          lastResponse: {
            type: Object,
            notify: true
          },
          /**
            If `uuid` is set will return an item from the result set that matches or null.
            When `uuid` is not set, will simply return the first item from the list of results
          */
          item: {
            type: Object,
            computed: '_makeItem(lastResponse,uuid)',
            notify: true
          },
          /** The uuid to filter by */
          uuid: {
            type: String
          },
        };
      }
      _makeURL(path) {
        return "https://5570499q1i.execute-api.us-east-2.amazonaws.com/v0_0_1/library/"+path+"#";
      }
      _makeItem(lastResponse, uuid) {
        if (this.lastResponse && this.lastResponse.length>0) {
          if (uuid) {
            return this.lastResponse.find((e)=>{return (e.uuid==uuid)});
          } else {
            return this.lastResponse[0];
          }
        }
      }
    }

    window.customElements.define(UvalibModels.is, UvalibModels);
  </script>
</dom-module>
