<script>
    /**
     * The Mixin for a form.
     * Contains properties and methods associated with a form.
     *
     * @polymerMixin
     */
    UvalibForm = Polymer.dedupingMixin(function(superClass) {
        return class extends superClass {
            constructor() {
                super();
            }
            static get properties() {
                return {
                    /**
                     * User name, email address, department, etc. for use in pre-populating some information.
                     */
                    userInfo: {
                        type: Object,
                        notify: true,
                        value: function() {
                            return {
                                computing_id: '',
                                name: '',
                                email: '',
                                phone: '',
                                affiliation: '',
                                department_school: ''
                            };
                        }
                    },
                    /**
                     * used to signal that something has changed in the form based on user interaction
                     */
                    _refresh: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            ready() {
                this.addEventListener('changedValue', this._valueChanged);
                this.addEventListener('clickedButton', this._buttonClicked);
                super.ready();
            }

            _focus(field) {
              console.log('_focus');
              this.$$('#'+field).focus(field);
            }

            _valueChanged(e) {
                //console.log(e.detail.field_id);
                this._refresh = !this._refresh;
            }

            // Loop through the section object key values and just examine the ones with
            // fld, mkup, fldset, ???
            _getSectionFields(el) {
                let fields = Array();
                for (var key in el) {
                    if (key.match(/^fld\_|fldset\_|mkup\_|actions/)) {
                        fields.push(el[key]);
                        if (el[key].type && el[key].type == 'textfield') {
                            el[key].type = 'text';
                        }
                        if (el[key].type && el[key].type == 'managed_file') {
                            el[key].type = 'file';
                        }
                    }
                }
                //console.log(fields);
                return fields;
            }

            _isButton(el) {
                return (el.type && el.type == "webform_actions");
            }

            _isCheckbox(el) {
                return (el.type && el.type == "checkbox");
            }

            _isCheckboxes(el) {
                return (el.type && el.type == "checkboxes");
            }
            /**
             * Date/time is used in Drupal Webform builder for indicating the
             * group of date, start, and end times as a single complex input.
             */
            _isDateTime(el) {
                return (el.type && el.type == "datetime");
            }

            _isField(el) {
                return (el.type && (el.type == "hidden" || el.type == "datelist" || el.type == "datetime" || el.type == "file" || el.type == "number" || el.type == "email" || el.type == "tel" || el.type == "text" || el.type == "select" || el.type == "textarea" || el.type == "radios" || el.type == "container" || el.type == "checkbox" || el.type == "checkboxes" || el.type == "webform_actions"));
            }

            _isFile(el) {
                return(el.type && el.type == "file");
            }

            _isHidden(el) {
                return (el.type && el.type == "hidden");
            }

            _isInput(el) {
                return (el.type && (el.type == "email" || el.type == "tel" || el.type == "text" || el.type == "number"));
            }

            _isMarkup(el) {
                return (el.type && el.type == "webform_markup");
            }

            _isRadios(el) {
                return (el.type && el.type == "radios");
            }

            _isSelect(el) {
                return (el.type && el.type == "select");
            }

            _isSection(el) {
                return (el.type && el.type == "webform_section");
            }

            _isTextarea(el) {
                return (el.type && el.type == "textarea");
            }

            /**
             * Container is used in Drupal Webform builder for indicating the
             * group of course inputs: term, course, section, title, meeting time,
             * etc. and prompts to select from multiple sections if they exist.
             */
            _isSectionSelect(el) {
                return (el.type && el.type == "container");
            }

            /**
             * Date List is used in Drupal Webform builder for indicating the
             * severl date/time options for a session, e.g. 1st, 2nd, and 3rd choices.
             */
            _isSessionDateTimes(el) {
              return ((el.type && el.type == "datelist") && (!el.maximum_occurrences || (el.maximum_occurrences && el.maximum_occurrences <= 0)));
            }

            /**
             * Check to see if the field is a repeatable one. There are only a few complex inputs that would repeat on a form.
             */
            _isRepeatableField(el) {
              return (el.maximum_occurrences && el.maximum_occurrences > 0);
            }

            _showField(item, refresh) {
                if (!item.states) {
                  return true;
                } else if (item.states && item.states.visible && item.states.invisible) {
                  return (this._testState(item.states.invisible)) ? false : this._testState(item.states.visible);
                } else if (item.states && item.states.invisible) {
                  return !this._testState(item.states.invisible);
                } else if (item.states && item.states.visible) {
                  return this._testState(item.states.visible);
                } else if (item.states && item.states.required) {
                  return this._testState(item.states.required);
                }
            }

            _testState(state) {
              //console.log("state test:");
              //console.log(state);
              if (Array.isArray(state)) {
                  for (var i = 0; i < state.length; i = i + 2) {
                      if (this._testField(state[i])) return true;
                  }
                  return false;
              } else {
                  return this._testField(state);
              }
            }

            _testField(state) {
              //console.log('field test:');
              var test = true;
              // very error prone test - assuming much
              for (var key in state) {
                  var id = key.replace(/.*"(.*)".*/, "$1"),
                      val = state[key].value;
                  // need to handle checkbox group state/values
                  var chkBoxGrp = id.split(/\[|\]/);
                  if (chkBoxGrp.length == 3) {
                    if (!this.shadowRoot.querySelector('#' + chkBoxGrp[0]) || !(chkBoxGrp[1] in this.shadowRoot.querySelector('#' + chkBoxGrp[0]).value)) {
                      test = false;
                      break;
                    }
                  } else
                  // this works for simple input types where the value doesn't have multiple options
                  if (!this.shadowRoot.querySelector('#' + id) || this.shadowRoot.querySelector('#' + id).value != val) {
                      test = false;
                      break;
                  }

              }
              return test;
            }

        }
    });
</script>
