<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-models demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../polymer/lib/elements/dom-bind.html">
    <link rel="import" href="../../polymer/lib/elements/dom-repeat.html">
    <link rel="import" href="../uvalib-models.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic uvalib-models demo for Content Blocks</h3>
      <demo-snippet>
        <template>

          <dom-bind id="app">
            <template>
              <uvalib-models path="blocks" last-response="{{response}}"></uvalib-models>
              <ul>
                <dom-repeat items="{{response}}">
                  <template>
                    <li>{{item.title}}</li>
                  </template>
                </dom-repeat>
              </ul>
            </template>
          </dom-bind>
        </template>
      </demo-snippet>

      <h3>Basic uvalib-models demo for Content Blocks with UUID</h3>
      <demo-snippet>
        <template>
          <dom-bind id="app2">
            <template>
              <uvalib-models path="blocks" item="{{item}}" uuid="697d5fca-d2f6-4f27-9ab5-ed1af7f9f5d1"></uvalib-models>
              <h3>{{item.title}}</h3>
            </template>
          </dom-bind>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
