<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-form demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../uvalib-field-input.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Uvalib field text input demo</h3>
      <demo-snippet>
        <template>
          <uvalib-field-input id="text" element='{"type": "text", "name": "fld_name", "title": "Name", "size": 40, "required": true, "required_error": "Please provide your name.", "value": ""}'></uvalib-field-input>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Uvalib field email input demo</h3>
      <demo-snippet>
        <template>
          <uvalib-field-input id="email" element='{"type": "email", "name": "fld_email_address", "title": "Email address", "size": 40, "required": true, "required_error": "Please include your email address so we may respond to your request.", "value": ""}'></uvalib-field-input>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Uvalib field telephone input demo</h3>
      <demo-snippet>
        <template>
          <uvalib-field-input id="phone" element='{"type": "tel", "name": "fld_phone_number", "title": "Phone number", "size": 30}'></uvalib-field-input>
        </template>
      </demo-snippet>
    </div>
    <div class="vertical-section-container centered">
      <h3>Uvalib field checkbox input demo - nothing should display</h3>
      <demo-snippet>
        <template>
          <uvalib-field-input id="checkbox" element='{"type": "checkbox", "name": "fld_test_description", "description": {"markup": "Terms &amp; Services Agreement"}, "title": "I agree to your terms and services.", "required": true, "required_error": "You must agree to our terms and services.", "value": "1"}'></uvalib-field-input>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
